@import './hero.css';
@import './playlist-filter.css';
@import './playlist-songs.css';

.playlistPage {
    background: url('../images/bad-bunny.png');
    background-color: var(--gray40);
    inline-size: 100%;
    block-size: 600px;
    background-size: cover;
    background-repeat: no-repeat;
}

.page-block {
    gap: 0;
}

.layout.playlist {
    background-color: var(--gray40);
}