::-webkit-scrollbar {
    inline-size: .5rem;
    block-size: .5rem;
}

::-webkit-scrollbar-thumb {
 background: var(--black);
 border-radius: .5rem;
}

::-webkit-scrollbar-track {
    background: var(--gray50);
}